<div class="calendar-grid" #calendarGrid>
  @for (items of calendarDays; track $index) {
    <div class="calendar-day">{{ items }}</div>
  }
  @for (timeOfDay of calendarDates; track $index) {
    @for (timeslot of calendarDays; track $index; let dayIndex = $index) {
      <div (click)="addAppointment(timeOfDay,timeslot,$event)" class="time-slot">
        @if (dayIndex === 0) {
          <span class="time-label">{{ timeOfDay }}</span>
        }
      </div>
    }
  }
  @if (showEditor){
    <div class="editor-popup" [style.background-color]="color" [style]="{top: y + 'px', left:x + 'px'}" >
      <input [(ngModel)]="title" type="text" id="appointHeader" placeholder="Your Title here..." >
      <hr>
      <div class="editor-field">
        <label>Time:</label>
        <input type="time" [(ngModel)]="this.selectedTime"> <p style=" position: relative;left: 1%;">-</p>
        <input type="time" [(ngModel)]="this.selectedEndTime">
      </div>
      <div class="editor-field">
        Color:
        <div class="floating-color-picker">
          <input type="color" [(ngModel)]="color">
        </div>
      </div>
      <button (click)="save()">Save</button>
      @if (!this.editEntry) {
      <button (click)="close()">Cancel</button>
      }
      @else {
        <button>delete</button>
      }
    </div>
  }
</div>

@if (shouldAddEntry){
  <div class="add-popup" [style.background-color]="color">
    <input [(ngModel)]="title" type="text" placeholder="Your Title here..." >
    <hr>
    <div class="editor-field">
      <div class="date-picker-wrapper">
        <label for="date-input">Date:</label>
        <div class="date-picker-button">
          <input [(ngModel)]="this.date" type="date" id="date-input" />
        </div>
      </div>
    </div>
    <div class="editor-field">
      <label>Time:</label>
      <input type="time" [(ngModel)]="this.selectedTime"> -
      <input type="time" [(ngModel)]="this.selectedEndTime">
    </div>
    <div class="editor-field">
      Color:
      <div class="floating-color-picker">
        <input type="color" [(ngModel)]="color">
      </div>
    </div>
    <button (click)="save()">Save</button>
    <button (click)="closePopUp()">Cancel</button>
  </div>
}
