.calendar-container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
  }
