<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-nav-bar></app-nav-bar>
    <div class="container">
        <div class="slogan">
            <h1>Personlized Tracker</h1>
            <p>Reach new levels with the help of our Tracker,Lifequest</p>

        </div>
        <div class="buttons">
            <button onclick="window.location.href='/login-page'" class="login-btn">Log in</button>
            <button onclick="window.location.href='/signup-page'" class="signup-btn">Get Started</button>
        </div>
    </div>
    <img class="demo-girl" src="/images/demo-girl.png" alt="" srcset="" >
    <img class="demo-boy" src="/images/demo-boy.png" alt="">
</body>
</html>
