<nav class="navbar">
  <ul>
    <li><a [routerLink]="['/home-page']" routerLinkActive="active">Home</a></li>
    <li><a [routerLink]="['/calendar-page']" routerLinkActive="active">Calendar</a></li>
    <li><a [routerLink]="['/profile-page']" routerLinkActive="active">Profile</a></li>
    <li><a [routerLink]="['/todos-page']" routerLinkActive="active">Todos</a></li>
    <li><a [routerLink]="['/stats-page']" routerLinkActive="active">Stats</a></li>
    <li><a [routerLink]="['/settings-page']" routerLinkActive="active">Settings</a></li>
  </ul>
</nav>
