body {
  margin: 0;
}

:root[data-theme="male"] {
  --primary-color: #4285F4;
  --secondary-color: #3367D6;
  --background-color: linear-gradient(180deg, #7986CB 0%, #3F51B5 100%);
  --transition-color: #5C6BC0;
  --text-color: #FFFFFF;
  --border-color: #1A237E;
}

:root[data-theme="female"] {
  --primary-color: #E91E63;
  --secondary-color: #C2185B;
  --background-color: linear-gradient(180deg, #F48FB1 0%, #AD1457 100%);
  --transition-color: #D81B60;
  --text-color: #FFFFFF;
  --border-color: #880E4F;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
