<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="page-wrapper">
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="quests-container">
      <h1>Quests</h1>
      @for (quest of quests; track $index){
        <div class="quest-item">
          <span>{{quest.title}}</span>
          <div class="quest-points">{{quest.expPoints}}</div>
          <div class="deadLine">{{quest.day}}</div>
          <div (click)="markQuestAsDone(quest)" class="quest-item-checkbox"></div>
        </div>
      }
    </div>
    <div class="todos-container">
      <h1>Todos</h1>
      @for (todo of todos; track $index){
        <div class="todo-item">
          <span>{{todo.title}}</span>
          <div class="todo-date">{{todo.deadline| date:'dd.MM.yyyy'}}</div>
          <button class="delete-icon" (click)="deleteTodo(todo.id)">🗑️</button>
        </div>
      }
    </div>

    <div class="notification-container">
      <h1>Notification Center</h1>

      <div class="notification-item">
        you have an appointment at 12pm
      </div>

      <div class="notification-item">
        you have an upcoming exam tomorrow
      </div>

      <div class="notification-item">
        you have a homework due 11 pm
      </div>
    </div>
  </div>
</div>
</body>
</html>

